<article class="container">
  <section class="flex">
    <h3>{{ isNew ? 'Add' : 'Edit'}} category</h3>
    <mat-icon *ngIf="!isNew" (click)="deleteCategory()">delete</mat-icon>
  </section>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grow">
    <mat-form-field class="width">
      <input matInput formControlName="name" placeholder="Name">
      <mat-error>
        Name can not be empty
      </mat-error>
    </mat-form-field>
    <section class="flex">
      <button type="submit" mat-flat-button [disabled]="form.invalid">
        Save changes
      </button>
      <div class="img" *ngIf="preview">
        <img class="responsive" [src]="preview">
      </div>
      <input type="file" class="none" #input (change)="fileUpload($event)">
      <button type="button" mat-flat-button [disabled]="form.disabled" color="accent" (click)="triggerInput()">
        Upload image
      </button>
    </section>
  </form>

  <app-positions *ngIf="category?._id" [categoryId]="category._id"></app-positions>
</article>