<mat-card class="form">
  <mat-card-title>Log In</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="width">
      <input type="email" matInput placeholder="Email" formControlName="email">
      <mat-error>
        Enter correct email
      </mat-error>
    </mat-form-field>
    <mat-form-field class="width">
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error>
        Password must contain at least 6 characters
      </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Log In</button>
  </form>
</mat-card>