<section class="container">
  <h3>Range</h3>
  <button mat-stroked-button routerLink="/categories/new">
    Add category
  </button>
  <div *ngIf="categories | async as categories; else loader">
    <mat-list *ngIf="categories.length !== 0; else empty">
      <mat-list-item ngFor="let item of categories" [routerLink]="['/categories', category._id]">
        {{ item.name }}
      </mat-list-item>
    </mat-list>
  </div>
  
  <ng-template #empty>
    <p>You do not have categories</p>
  </ng-template>
  <ng-template #loader>
    <mat-spinner></mat-spinner>
  </ng-template>
</section>